<ng-template #noAuth>
  <div class="login-material-wrapper">
    <button mat-raised-button color="primary" class="full-width" (click)="login()">
      <mat-icon>login</mat-icon>
      Iniciar sesión con AWS Cognito
    </button>
  </div>
</ng-template>

<div *ngIf="isAuthenticated; else noAuth" class="login-material-wrapper">
  <mat-card>
    <mat-card-title>¡Sesión iniciada!</mat-card-title>
    <mat-card-content>
      <div>
        <strong>Usuario:</strong>
        <pre>{{ userData$ | async | json }}</pre>
      </div>
    </mat-card-content>
  </mat-card>
</div>
