<div class="contenedor-home">
  <!-- Servicios destacados -->
  <ng-container *ngFor="let servicio of servicios">
    <app-servicio-destacado
      [servicio]="servicio"
      [orientacion]="servicio.orientacion">
    </app-servicio-destacado>
  </ng-container>

  <h2 class="productos-titulo">Productos destacados</h2>
  <div class="productos-destacados">
    <ng-container *ngFor="let producto of productos">
      <app-producto-destacado
        [idProducto]="producto.idProducto"
        [titulo]="producto.nombre"
        [descripcion]="producto.descripcion"
        [imagen]="producto.urlImagen">
      </app-producto-destacado>
    </ng-container>
  </div>

  <app-pedido-personalizado></app-pedido-personalizado>
</div>
