@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  background: #f8fafc;
  color: #202020;
}
