<footer class="footer">
  <div class="footer__left">
    <div class="footer__contacto">
      <strong>Contacto</strong>
      <div>fono +56912345678</div>
      <div>correo</div>
    </div>
  </div>
  <div class="footer__center">
    <div class="footer__copy">
      ©2025 by Corte Láser DYC. Todos los derechos reservados.
    </div>
  </div>
  <div class="footer__right">
    <button class="footer__login" (click)="onLogin()">
      <span class="material-icons">login</span>
      Login
    </button>
  </div>
</footer>
