.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111;
  color: #fff;
  padding: 24px 32px;
  font-size: 1rem;
  box-shadow: 0 -2px 8px #0002;
  min-height: 70px;
  margin-top: 32px;

  &__left, &__center, &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__contacto {
    font-size: 1.1rem;
    margin-bottom: 0.5em;

    strong {
      font-size: 1.2rem;
      margin-bottom: 4px;
      color: #fff;
    }
    div, a {
      margin-bottom: 2px;
      color: #fff;
      text-decoration: none;
    }
    a {
      color: #696877;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  &__copy {
    text-align: center;
    color: #fff !important;
    font-size: 0.95em;
  }

  &__right {
    align-items: flex-end;
  }

  &__login {
    background: none;
    border: none;
    color: #fff !important;
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    padding: 0;
    transition: color 0.2s;

    &:hover {
      color: #696877;
      text-decoration: underline;
    }

    .material-icons {
      font-size: 1.5rem;
    }
  }
}
