<footer class="footer">
  <div class="footer__left">
    <ng-container *ngIf="!isAuthenticated">
      <div class="footer__contacto">
        <strong>Contacto</strong>
        <div>
          <span class="material-icons" aria-label="Teléfono">call</span>
          <a href="tel:+56912345678">+56 9 1234 5678</a>
        </div>
        <div>
          <span class="material-icons" aria-label="Correo">mail</span>
          <a [href]="'mailto:' + 'contacto@dyc.cl'">{{ 'contacto@dyc.cl' }}</a>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="footer__center">
    <div class="footer__copy">
      ©2025 by Corte Láser DYC. Todos los derechos reservados.
    </div>
  </div>
  <div class="footer__right">
    <ng-container *ngIf="!isAuthenticated">
      <button class="btn-link" (click)="onLogin()">
        <span class="material-icons" aria-hidden="true">login</span> Iniciar sesión
      </button>
    </ng-container>
  </div>
</footer>
